* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*INICIO- INDEX*/
.header__index {
  width: 50%;
  display: flex;
  position: fixed;
  top: 100px;
  background: #fff;
  align-items: center;
  justify-content: center;
}

.header__superior {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px;
}

/**/
/*BARRA MENU*/
.container__menu {
  width: 100%;
  height: 70px;
  background: #002244;
  padding: 0px 20px;
}

/*menu con animacion */
.menu {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}
.menu nav {
  height: 100%;
}
.menu nav ul {
  height: 100%;
  display: flex;
  list-style-type: none;
}
.menu nav ul li {
  height: 100%;
  position: relative;
}
.menu nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;
}
.menu nav ul li a a:hover {
  transform: scale(1.1);
  background: #002244;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/**/
/*otras configuraciones*/
.footer_index {
  display: flex;
  justify-content: center;
  padding: 19px;
  height: 57px;
  background-color: #00152b;
  color: #fff;
  width: 1920px;
}

.PHOTOS {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.PHOTOS img {
  width: 800px;
  height: 890px;
  align-items: center;
}

.spacex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.spacex h1 {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/*configuracion pagina politicas de privacidad*/
.marginp {
  margin-top: 35px;
  margin-right: 10px;
  margin-bottom: 145px;
  margin-left: 10px;
}
.marginp .contenido_privacy {
  width: 100%;
  height: 100px;
  padding: 10px 10px;
  font-weight: bold;
  background-color: white;
  display: inline-block;
}
.marginp h2 {
  color: rgb(97, 76, 17);
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
}

.footer_content {
  display: flex;
  justify-content: center;
  padding: 70px;
  background-color: #00152b;
  color: #fff;
  width: 100%;
  height: 100px;
}
.footer_content h4 {
  display: flex;
  align-items: center;
}

.comerce {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 35px, 10px, 50px, 10px;
}
.comerce img {
  width: 500px;
  height: 500px;
}

.comerce img:hover {
  transform: scale(1.1);
  transition: all 300ms ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.about-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  zoom: 80%;
}
.about-content img {
  justify-content: center;
  width: 500px;
  height: 800px;
  border-width: 10px;
  margin-top: 35px;
  margin-right: 10px;
  margin-bottom: 35px;
  margin-left: 15px;
}

.about-content img:hover {
  transform: scale(1.111);
  transition: all 400ms ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.textA {
  text-align: center;
  margin-top: 50px;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-left: 15px;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(134, 6, 2);
}

.news_h1 {
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
}

.news_content {
  display: flex;
  justify-content: center;
}
.news_content img {
  width: 500px;
  height: 800px;
  border-width: 10px;
  margin: 35px 10px 35px 15px;
}

.news_content img:hover {
  transform: scale(1);
  transition: all 400ms ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu_testing {
  width: 100%;
  height: 80px;
  background: #00152b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0, 2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: black;
  background: #fff;
}

.nav-bar ul li a.active {
  color: black;
  background: #fefefe;
}

/*LAPTOP - IPAD- ESCRITORIO*/
@media only screen and (max-width: 1600px) {
  .header__index {
    width: 780px;
    zoom: 90%;
    position: center;
    top: 180px;
  }
  .PHOTOS {
    display: flex;
    justify-content: flex-end;
  }
  .comerce {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .comerce img {
    zoom: 65%;
  }
  .container__menu_pages {
    zoom: 75%;
  }
  .footer_index {
    width: 100%;
  }
  .news_content h1 {
    zoom: 65%;
  }
  .news_content img {
    zoom: 80%;
    margin: 10px 10px 10px 0px;
  }
}
@media only screen and (max-width: 1320px) {
  header {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .menu_testing {
    padding: 0px 30px;
  }
  .logo {
    font-size: 20px;
  }
  .header__index {
    width: 780px;
    zoom: 80%;
    position: center;
    top: 250px;
  }
  .footer_index {
    width: 100%;
  }
  .comerce {
    display: grid;
    grid-template-columns: 350px 350px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .comerce img {
    zoom: 70%;
  }
  .about-content img {
    zoom: 75%;
    margin: 100px 20px 50px 20px;
  }
  .news_content img {
    zoom: 65%;
    margin: 10px 10px 10px 0px;
  }
}
@media only screen and (max-width: 1100px) {
  .menu_testing {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .menu_testing {
    padding: 0px 10px;
  }
  .logo {
    font-size: 18px;
    padding-left: 20px;
  }
  .header__index {
    width: 780px;
    zoom: 80%;
    position: center;
    top: 200px;
  }
  .footer_index {
    width: 100%;
  }
  .comerce {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 400px 400px 400px 400px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
  }
  .about-content img {
    zoom: 75%;
    margin: 20px 20px 20px 20px;
  }
  .news_content img {
    zoom: 60%;
    margin: 10px 10px 10px 0px;
  }
}
@media only screen and (max-width: 912px) {
  .logo {
    padding-left: 20px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 1s;
    overflow: hidden;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 50px auto 0 auto;
    text-align: center;
    transition: 1s;
    opacity: 0;
  }
  .nav-bar.active {
    height: 400px;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    color: #fefefe;
  }
  .PHOTOS {
    display: grid;
    zoom: 120%;
  }
  .about-content img {
    zoom: 65%;
  }
  .news_content img {
    zoom: 55%;
  }
  .about-content img:hover {
    transform: scale(1);
  }
}
@media only screen and (max-width: 800px) {
  .header__index {
    width: 780px;
    zoom: 80%;
    position: center;
    top: 250px;
  }
  .footer_index {
    width: 100%;
  }
  .PHOTOS {
    display: grid;
    zoom: 100%;
  }
  .about-content {
    display: grid;
  }
  .about-content img {
    zoom: 180%;
    margin: 0px 0px 0px 35px;
  }
  .news_content {
    display: grid;
  }
  .news_content img {
    zoom: 100%;
  }
}
@media only screen and (max-width: 624px) {
  .header__index {
    width: 780px;
    zoom: 65%;
    position: center;
    top: 300px;
  }
  .footer_index {
    width: 100%;
  }
  .PHOTOS {
    display: grid;
    zoom: 85%;
  }
  .comerce {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 270px 270px 270px 270px;
  }
  .comerce img {
    zoom: 50%;
  }
  .about-content img {
    zoom: 140%;
    margin: 0px 0px 0px 30px;
  }
  .news_content {
    justify-content: center;
  }
}
@media only screen and (max-width: 506px) {
  .header__index {
    width: 780px;
    zoom: 60%;
    position: center;
    top: 400px;
  }
  .footer_index {
    width: 100%;
  }
  .comerce {
    grid-template-columns: 200px 200px;
  }
  .comerce img {
    zoom: 40%;
  }
  .about-content img {
    zoom: 120%;
    margin: 0px 0px 0px 14px;
  }
  .news_content {
    zoom: 90%;
    margin: 0px 0px 0px 14px;
  }
}
@media only screen and (max-width: 468px) {
  .header__index {
    width: 780px;
    zoom: 53%;
    position: center;
    top: 500px;
  }
  .PHOTOS {
    display: grid;
    zoom: 65%;
  }
  .comerce {
    grid-template-columns: 200px 176px;
    grid-template-rows: 200px 200px 200px 200px;
  }
  .comerce img {
    zoom: 35%;
  }
  .about-content img {
    zoom: 110%;
    margin: 0px 0px 0px 17px;
  }
  .news_content img {
    zoom: 80%;
    margin: 10px 10px 10px 0px;
  }
  .news_h1 {
    zoom: 75%;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
/*MOBIL*/
@media only screen and (max-width: 415px) {
  .header__index {
    zoom: 50%;
  }
  .PHOTOS {
    display: grid;
    zoom: 55%;
  }
  .comerce {
    display: grid;
    grid-template-columns: 180px 180px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 20px;
    grid-template-rows: 180px 180px 180px 180px;
  }
  .comerce img {
    zoom: 32%;
  }
  .about-content img {
    zoom: 95%;
    margin: 0px 0px 0px 25px;
  }
  .news_content h1 {
    zoom: 75%;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .news_content img {
    display: grid;
    zoom: 75%;
    margin: 10px 10px 10px 0px;
  }
}
@media only screen and (max-width: 393px) {
  .about-content img {
    zoom: 90%;
    margin: 0px 0px 0px 22px;
  }
  .news_content h1 {
    zoom: 70%;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .news_content img {
    display: grid;
    zoom: 65%;
    margin: 10px 10px 10px 0px;
  }
}
@media only screen and (max-width: 380px) {
  .header__index {
    zoom: 46%;
  }
  .comerce img {
    zoom: 30%;
  }
  .comerce {
    margin-left: 25px;
  }
  .about-content img {
    zoom: 88%;
    margin: 10px 0px 0px 15px;
  }
}
@media only screen and (max-width: 360px) {
  .header__index {
    zoom: 44%;
  }
  .about-content img {
    zoom: 80%;
    margin: 0px 0px 0px 33px;
  }
  .news_h1 {
    zoom: 65%;
  }
  .news_content img {
    zoom: 60%;
    margin: 10px 10px 10px 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
